node_modules
.env

# Build output
dist
build

# Prisma
prisma/migrations/
prisma/dev.db

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/